@font-face {
font-family:Nilland;
src: url('../fonts/Nilland.ttf');
}



body{
       /*animation-duration:2.4s;  
       animation-name:c-fade-in;*/
       box-sizing:border-box;
 
}


.header-home{
    margin-top:230px;
    color:#fff;
    text-shadow:3px 3px 3px black;
    text-align:left;
    font-size:40px;
    font-family:Nilland;

}

.fondo-letras{
background-color: rgba(15, 168, 237, 0.4); 

}

.capitalize{
        font-size:55px;
        font-family:Nilland;
        font-weight:bold;
} 


.header-home i{
    font-size:33px;
    background:#222;
    border-radius:50%;
    height:60px;
    width:60px;
    text-align:center;
    padding:12px;
}

.header-home i:hover{

    background:#333;
    cursor:pointer;
    transition:all 0.3s ease;
 
}


.navbar{
    font-family:nunito;
    font-weight:bold;
    
}




#logo{
    font-size:23px;
    color:#fff;
    margin-top:5px;
    display:block;
    margin-left:-20px;
    text-align:center;

    
}
.nav{
    top:10px;
    position:relative;
    font-size:15px;

   
 
}

.nav a[class="elemento"]{
     transition:all 0.7s ease;
     border-bottom: 4px solid transparent;
}

.nav a:hover{
    
    border-bottom: 4px solid rgba(0, 228, 251, 0.8); 
        
        
}

.active {
    
    border-bottom: 4px solid rgba(0, 228, 251, 0.8); 

}



#white1{color:#fff;}
#white2{color:#fff;}
#white3{color:#fff;}
#white4{color:#fff;}

#active2{
        color:#fff;
}





.nav i{
    font-size:22px;
    text-shadow: 2px 2px 2px #333;
}

.brand-name{
    color:#fff;
    text-shadow: 2px 2px 2px #333;
}

.tecnologias{

  background: rgba(0, 0, 0, 0.8);
  height:100%;

   
  
}

/*.imagen-capa{
    background:url('../img/tecnologias.png');
    background-size:cover;
}*/

.separador-texto{

    
 
    border-bottom:4px solid rgba(0, 228, 251, 0.6); 
    color:#fff;
}


#sobre-mi{


    background:url('../img/develop3.jpg');
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;

   
   
}

.ampliador{
    height:230px;
}

.header-page h2{
     border-bottom: 4px solid rgba(0, 228, 251, 0.6); 
     padding:15px;
     text-align:center;
     color:#fff;
     font-family:nunito;
     font-weight:bold;
     font-size:25px;
     width:150px;
     margin:auto;
    
   
} 

.perfil{
    margin-top:50px;

}

.hi{
     font-family:nunito;
     color:#fff;
     font-weight:bold;
     font-size:20px;
}


 .descripcion{
    background:#f2f2f2;
    font-family:nunito;
    margin-top:70px;
    /*word-break: break-all;*/
    box-shadow:0px 0px 10px black;
    word-wrap: break-word;
    padding:20px;
    margin-left:auto;


  
}




.image-separator{
    background:url('../img/develop4.jpg');
    height:550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


#servicios{
  
    background:#fff;
}


.panel-personalizado{
    margin-top:80px;
    padding:40px;
    font-family:nunito;
    transition: 0.5s ease;
    
    
}

.panel-personalizado:hover{
     
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     transition: 0.5s ease;
     box-shadow:0px 0px 2px grey;


     
     /*border-top-color:rgb(32,33,33);
     border-bottom-color: rgb(32,33,33);
     border-right-color: rgb(32,33,33);
     border-left-color: rgb(32,33,33);*/
   
    
}

.panel-personalizado2{
    
    /*margin-top:50px;*/
    padding:50px;
    font-family:nunito;
    
}



#portafolio{
background:url('../img/web.jpg');
background-size:cover;
background-attachment:fixed;
height:100%;
}



#portafolio .thumbnail{
    margin-top:90px;
    box-shadow:0px 0px 10px black;
    transition: 0.6s ease;
}

#portafolio .thumbnail:hover{
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     transition: 0.6s ease;
}


#contacto{
background:url('../img/develop5.jpg');
background-size:cover;
height:100%;
}




 .panel-form{
     margin-top:25px;
     opacity:0.9;    
     font-family:nunito;
  }
 
#comentario{
    resize:none;
}

.footer{
    background:#333;
    height:100%;
    color:white;
}

.footer p{
    margin-top:65px;

}

.footer li a i{
    font-size:25px;
    margin-top:30px;
    color:white;
}

.divisor-footer{
    background:rgb(255, 154, 40);
    height:15px;
}

.divisor-footer2{
    background:#222;
    height:45px;
}


 .whatsapp{
 margin-top:50px;
 font-size:15px;
}

.form-suscribe{
    margin-top:60px;
}



/*Effects*/

@keyframes c-fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}



.come-in {
  transform: translateX(300px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.circle-bar{
     opacity:0;
}

 .js-circle-animate{
     opacity:1;
   
 }



.headroom{

   -webkit-transition: transform .3s ease;
   -moz-transition: transform .3s ease;
   transition: transform .3s ease;

}


.headroom--pinned{

 transform: translateY(0%);  
  
  }



.headroom--unpinned{

transform: translateY(-100%); 


}
  

  /*media querys*/

@media screen and (max-width:245px){
    .brand-name{
        font-size:13px;
    }
}


@media screen and (max-width:991px){
    .nav{
        top:0;
    }
    .nav a{
        height:45px;
        
    }
   

    .panel-personalizado{
          padding:0;
    }

    .circle-bar1{
        height:80px;
        width:80px;
    
    }
    
}



@media screen and (max-width:767px){
     .nav a{
      
        border-bottom:none;
     }
 
    .nav a:hover{
        
       border-bottom:none;
   
    }
     
     #sobre-mi{
         background-attachment:initial;
     }

     #portafolio{
      
          background:url('../img/black.jpg');
          
        
     }

     #contacto{
         background:#f2f2f2;
     }
    
     .panel-personalizado:hover{
          transform:none;
    } 

     
     #portafolio .thumbnail:hover{
           transform:none;
     }

     #portafolio .thumbnail img{
         width:100%;
     }

    body{
            overflow-x:hidden;
      
    }

    .headroom{transition:none;}
    .headroom--pinned{transform:none;}
    .headroom--unpinned{transform:none;}

}

/*media querys for slide*/


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-height:600px){
 .header-home{/*background:green;*/ margin-top:100px;}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
 .header-home{/*background:yellow;*/ margin-top:100px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
 .header-home{/*background:blue;*/ margin-top:70px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.header-home{/*background:red;*/ margin-top:55px; font-size:24px;}
   .capitalize{font-size:29px;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.header-home{/*background:lightcoral;*/  font-size:20px;}
.capitalize{font-size:25px;}

}

